<!DOCTYPE html>
<html lang="en">
<head><head></head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StandApp</title>

  <!-- FAVICON -->
  <link href="./assets/images/favicon.png" rel="shortcut icon">

</head>

<body class="body-wrapper">


<nav class="navbar main-nav fixed-top navbar-expand-lg large">
  <div class="container">
      <a class="navbar-brand" href="homepage.html"><img src="./assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link scrollTo" href="#home">Acasă</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scrollTo" href="#about">Despre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scrollTo" href="#feature">Beneficii</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scrollTo" href="#team">Echipă</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link scrollTo" href="#contact">Contact</a>
        </li> -->
      </ul>
      </div>
  </div>
</nav>
<!--=====================================
=            Homepage Banner            =
======================================-->

<section class="banner bg-1" id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-8 align-self-center">
				<!-- Contents -->
				<div class="content-block">
					<h3>Jos cu durerea de spate!</h3>
          <h3>Hai sus pentru sănătate!</h3>
					<h5>Aplicația iți aduce aminte să te ridici de la birou in mod regulat, conform recomandării medicilor.</h5>
					<!-- App Badge -->
					<div class="app-badge">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="https://play.google.com/store/apps/details?id=ggc.standapp" target="_blank" class="btn btn-download"><i class="ti-android"></i>
									<div>Descarcă de pe<span>GOOGLE PLAY</span></div>
								</a>
							</li>
							<!-- <li class="list-inline-item">
								<a href="#" class="btn btn-download"><i class="ti-apple"></i>
									<div>Available on the<span>Apple store</span></div>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!-- App Image -->
				<div class="image-block">
					<img class="img-fluid phone-thumb" src="./assets/images/phones/iphone-banner.png" alt="iphone-banner">
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Homepage Banner  ====-->

<!--===========================
=            About            =
============================-->

<section class="about section bg-2" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center text-center">
				<!-- Image Content -->
				<div class="image-block">
					<img class="phone-thumb-md" src="./assets/images/phones/iphone-feature.png" alt="iphone-feature" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
				<div class="about-block">
					<!-- About 01 -->
					<div class="about-item">
						<div class="icon">
							<i class="ti-palette"></i>
						</div>
						<div class="content">
							<h5>Intuitivă</h5>
							<p>Aplicația are un text explicativ pentru fiecare secțiune.</p>
						</div>
					</div>
					<!-- About 02 -->
					<div class="about-item active">
						<div class="icon">
							<i class="ti-panel"></i>
						</div>
						<div class="content">
							<h5>Simplă</h5>
							<p>Trebuie doar să alegeți orele între care doriți să fiți reamintit precum și zilele în care doriți să primiți notificări. Apoi apăsăți "Salvează". Atât de simplu! </p>
						</div>
					</div>
					<!-- About 03 -->
					<div class="about-item">
						<div class="icon">
							<i class="ti-vector"></i>
						</div>
						<div class="content">
							<h5>Neintruzivă</h5>
							<p>Aplicația nu necesita premisiuni extra, nu salvează date persoanle și nu are nevoie de internet. Notificările primite sunt sub formă de vibrație.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of About  ====-->

<!--==============================
=            Features            =
===============================-->

<section class="section feature" id="feature">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Beneficii</h2>
					<p>Corpul nostru a fost creat pentru mișcare. Există nenumărate beneficii pentru a ne ridica de la birou în mod regulat:</p>
				</div>
			</div>
		</div>
		<div class="row bg-elipse">
			<div class="col-lg-4 align-self-center text-center text-lg-right">
				<!-- Feature Item -->
				<div class="feature-item">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-arrow-up"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>Îmbunătățește postura</h5>
					</div>
				</div>
				<!-- Feature Item -->
				<div class="feature-item">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-stats-up"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>Crește metabolsimul</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<!-- Feature Item -->
				<div class="feature-item mb-0">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-face-smile"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>Reduce stresul</h5>
					</div>
				</div>
				<div class="app-screen">
					<img class="img-fluid" src="./assets/images/phones/i-phone-screen.png" alt="app-screen">
				</div>
				<!-- Feature Item -->
				<div class="feature-item">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-plus"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>O minte mai limpede</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-center text-lg-left align-self-center">
				<!-- Feature Item -->
				<div class="feature-item">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-arrow-circle-up"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>Mai multă energie</h5>
					</div>
				</div>
				<!-- Feature Item -->
				<div class="feature-item">
					<!-- Icon -->
					<div class="icon">
						<i class="ti-heart"></i>
					</div>
					<!-- Content -->
					<div class="content">
						<h5>Îmbunătățește circulația sângelui</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Features  ====-->

<!--=============================================
=            Call to Action Download            =
==============================================-->

<section class="cta-download bg-3 overlay">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-5 text-center">
				<div class="image-block"><img class="phone-thumb img-fluid" src="./assets/images/phones/iphone-chat.png" alt=""></div>
			</div> -->
			<div class="col-12">
				<div class="content-block">
					<h2>Descarcă Acum</h2>
					<p>Ești la un click distanță de beneficiile prezentate anterior. </p>
					<div class="app-badge">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="https://play.google.com/store/apps/details?id=ggc.standapp" target="_blank" class="btn btn-download"><i class="ti-android"></i>
									<div>Găsește aplicația pe<span>GOOGLE PLAY</span></div>
								</a>
							</li>
							<!-- <li class="list-inline-item">
								<a href="#" class="btn btn-download"><i class="ti-apple"></i>
									<div>Available on the<span>Apple store</span></div>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Call to Action Download  ====-->

<!--=============================
=            Counter            =
==============================-->

<!-- <section class="section counter bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<h3><span class="count" data-count="29">0</span>k</h3>
					<p>Download</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<h3><span class="count" data-count="200">0</span>k</h3>
					<p>Active Account</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<h3><span class="count" data-count="60">0</span>k</h3>
					<p>Happy User</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<h3><span class="count" data-count="300">0</span>k<sup>+</sup></h3>
					<p>Download</p>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!--====  End of Counter  ====-->

<!--==========================
=            Team            =
===========================-->

<section class="section team bg-shape-two" id="team">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-4">
					<h2 class="mb-3">Echipă</h2>
					<!-- <p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea of
						denouncing pleasure and praising</p> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<!-- Team Member -->
<div class="team-member text-center mb-4 mb-lg-0">
	<div class="image">
		<img class="img-fluid" src="./assets/images/team/member-one.jfif" alt="team-member">
	</div>
	<div class="name">
		<h5>Grindeanu George-Ciprian</h5>
	</div>
	<div class="position">
		<p>Dezvoltator</p>
	</div>
	<!-- <div class="skill-bar">
		<div class="progress">
		  	<div class="progress-bar" style="width:85%;"></div>
		</div>
		<span>85%</span>
	</div> -->
	<ul class="social-icons list-inline">
		<li class="list-inline-item">
			<a href="http://www.linkedin.com/in/ciprian-grindeanu"><i class="ti-linkedin"></i></a>
		</li>
	</ul>
</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Team  ====-->

<!--=================================
=            Testimonial            =
==================================-->

<!-- <section class="section testimonial bg-primary-shape" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 class="text-white">Our Happy Customers</h2>
					<p class="text-white">Demoralized by the charms of pleasure of the moment, so blinded by desire, that they
						cannot foresee idea of denouncing pleasure and praising</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 mx-auto">
<div class="testimonial-slider">
	<div class="testimonial-item">
		<div class="row">
			<div class="col-md-5 client-img" style="background-image: url(assets/images/testimonial/client-1.jpg);">
			</div>
			<div class="col-md-7">
				<div class="p-4 bg-white">
					<strong class="mb-3 d-block">They are great agency</strong>
					<p class="lead font-italic mb-4">I recently hired Genox to develop a new version of my most popular website
						and I’m extremely happy with their work.</p>
					<h6>Mike Andrew</h6>
					<p>CEO - Philandropia</p>
				</div>
			</div>
		</div>
	</div>
	<div class="testimonial-item">
		<div class="row">
			<div class="col-md-5 client-img" style="background-image: url(assets/images/testimonial/client-2.jpg);">
			</div>
			<div class="col-md-7">
				<div class="p-4 bg-white">
					<strong class="mb-3 d-block">They are great agency</strong>
					<p class="lead font-italic mb-4">I recently hired Genox to develop a new version of my most popular website
						and I’m extremely happy with their work.</p>
					<h6>Selena Catt</h6>
					<p>CEO - Philandropia</p>
				</div>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</section> -->


<!--====  End of Testimonial  ====-->

<!-- <section class="section cta-subscribe" id="contact">
	<div class="container">
		<div class="row bg-elipse-red">
			<div class="col-lg-4">
				<div class="image"><img class="phone-thumb" src="./assets/images/phones/iphone-banner.png" alt="iphone-app"></div>
			</div>
			<div class="col-lg-8 align-self-center">
				<div class="content">
					<div class="mb-4">
						<h2>Subscribe Our Newsletter</h2>
					</div>
					<div class="description">
						<p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea
							of denouncing pleasure and praising</p>
					</div>
					<form action="#">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter your email address">
							<div class="input-group-append">
								<span class="input-group-text ti-arrow-right"></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!--============================
=            Footer            =
=============================-->

<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mr-auto">
        <div class="footer-logo">
          <img src="./assets/images/logo.png" alt="footer-logo">
        </div>
        <div class="copyright">
          <p>@2019 Themefisher All Rights Reserved | Design and Developed By : <a href="https://themefisher.com/"
              target="_blank">Themefisher</a>
            <br> Check Our Store for more <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Bootstrap Template</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 text-lg-right">
        <!-- Social Icons -->
        <ul class="social-icons list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/StandApp-100534205850890" target="_blank"><i class="text-primary ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="mailto:ciprian.grindeanu@gmail.com"><i class="text-primary ti-email"></i></a>
          </li>
          <!-- <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/themefisher"><i class="text-primary ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://github.com/themefisher"><i class="text-primary ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://instagram.com/themefisher"><i class="text-primary ti-instagram"></i></a>
          </li> -->
        </ul>
        <!-- Footer Links -->
        <ul class="footer-links list-inline">
          <li class="list-inline-item">
            <a class="scrollTo" href="#about">DESPRE</a>
          </li>
          <li class="list-inline-item">
            <a class="scrollTo" href="#team">ECHIPĂ</a>
          </li>
          <!-- <li class="list-inline-item">
            <a class="scrollTo" href="#contact">CONTACT</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>


  <!-- JAVASCRIPTS -->

  <script src="plugins/jquery/jquery.js"></script>
  <script src="plugins/bootstrap/bootstrap.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>
